.cart-item-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.cart-item-table th{
  color: black;
}

.cart-item-table th,
.cart-item-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.cart-item-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.cart-item-table td button {
  margin-right: 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 40%;
}

.cart-item-table td button:hover {
  background-color: #0056b3;
}

.cart-item-table td button.remove {
  background-color: red;
}

.cart-item-table td button.remove:hover {
  background-color: darkred;
}
