html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 250px;
  background: #f4f4f4;
  padding: 20px;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
}

.right-sidebar {
  width: 250px;
  background: #f4f4f4;
  padding: 20px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  overflow-y: auto;
}

.main-content {
  margin-left: 20rem;
  margin-right: 20rem;
  padding: 20px;
  flex: 1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
